body {
    overflow-y: hidden;
    overflow-x: hidden;
}

p {
    font-family: 'Cabin', sans-serif;
}

main {
    background-color: aliceblue;
    background-image: url(../images/body.jpg);
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(10, 10%);
    font-family: 'Cabin', sans-serif;
}

h1{
    font-family: 'Poppins', sans-serif;
}

h2{
    font-family: 'Poppins', sans-serif;
}
h3{
    font-family: 'Poppins', sans-serif;
}
h4{
    font-family: 'Poppins', sans-serif;
}

/* font-family: 'Poppins', sans-serif; */

.div_center--2 div {
    grid-column: 2 / span 5;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5vw;
    background-color: #003873;
    color: white;
    padding: 0.938rem;
    border-radius: 5px;
    padding-bottom: 9%;
}

.div_center a:hover {
    scale: 1.1;
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Cabin', sans-serif;

}

.asido {
    grid-column: 1 / span 2;
    grid-row: 1 / span 10;
    background-color: #85BCFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.asido :nth-child(2){
    margin: 10%;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.7rem;
    color: white;
    margin-top: -1.2vh;
    text-align: start;
}
.asido :nth-child(1) {
    padding-top: 9vh;
}
.asido > h1{
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}
.asido>p {
    color: white;
}


main > a {
    width: 15vw;
    grid-column: 4 / span 2;
}

.p_footer {
    font-size: 1.3vw;
    text-align: center;
    font-weight: lighter;
    padding: 2vw;
}


.div_entete {
    grid-column: 3 / span 10;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entete--1 {
    font-size: 3vw;
    color: #000000;
    font-weight: 900;
    margin-top: 3%;
}

.div_nom {
    font-size: 2vw;
    grid-column: 7 / span 3;
    grid-row: 2 / span 3;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 9%;
    background-color: #C5E9FC;
    transition: 0.2s;
    border-radius: 5px;
    margin-block: 10%;
}

.div_nom:hover {
    scale: 1.1;
    transition: 0.2s;
}

.div_center {
    grid-column: 4 / span 6;
    grid-row: 5 / span 6;
    display: grid;
    grid-template-rows: repeat(7, 14.3%);
    grid-template-columns: repeat(7, 14.3%);
}

.div_center--1 {
    background-color: #fed86650;
    grid-column: 1 / span 4;
    grid-row: 1 / span 3;
    height: 50%;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_center--2 {
    background-color: #ffe28d;
    grid-column: 1 / span 4;
    grid-row: 2 / span 5;
    display: grid;
    grid-template-rows: repeat(7, 14.3%);
    grid-template-columns: repeat(7, 14.3%);
    position: relative;
    z-index: 1;
}

.div_center--3 {
    background-color: #FED766;
    grid-column: 5 / span 3;
    grid-row: 1 / span 6;
    display: grid;
    grid-template-rows: repeat(7, 14.3%);
    grid-template-columns: repeat(7, 14.3%);
    justify-items: center;
    position: relative;
    z-index: 0;
}

.div_center--2p1 {
    font-size: 1.5vw;
    grid-column: 2 / span 4;
    grid-row: 2 / span 2;
}

.div_center--2p2 {
    font-size: 1.5vw;
    grid-column: 6;
    grid-row: 2 / span 2;
}

.div_center--2p3 {
    font-size: 1.5vw;
    grid-column: 2 / span 4;
    grid-row: 2 / span 2;
    margin-top: 10%;
}

.div_center--2p4 {
    font-size: 1.5vw;
    grid-column: 6;
    grid-row: 2 / span 2;
    margin-top: 40%;
}


.div_center--2p7 {
    font-size: 1.5vw;
    grid-column: 6;
    grid-row: 3 / span 2;
    margin-top: 40%;
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr {
    text-align: center;
    height: 3px;
    border: none;
    background-color: #003873;
    width: 650%;
    grid-row: 5;
    margin-inline-start: 30%;
    margin-top: 35%;
    margin-inline-end: 30%;
}

.div_center--2p8 {
    font-size: 2vw;
    grid-column: 2 / span 3;
    grid-row: 6;
    color: #003873;
    font-weight: bold;
}

.div_center--2p9 {
    font-size: 2vw;
    grid-column: 6;
    grid-row: 6;
    color: #003873;
    font-weight: bold;
}

.div_center--3p1 {
    font-size: 2vw;
    grid-column: 2 / span 5;
    grid-row: 3;
}

.div_center--3p2 {
    font-size: 3vw;
    grid-column: 2 / span 5;
    grid-row: 3;
    margin-top: 20%;
}

.div_center--3p3 {
    font-size: 1.8vw;
    grid-column: 2 / span 5;
    grid-row: 4;
    margin-top: 20%;
}

.div_center--3p4 {
    font-size: 1.5vw;
    grid-column: 4;
    grid-row: 6;
}


img[alt="logo"] {
    width: 150%;
    transition: 0.2s;
}

img[alt="logo"]:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

body::-webkit-scrollbar-track {
    background-color: aliceblue;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background-color: #FED766;
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
}


.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #F15920;
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}
