html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    vertical-align: baseline;
    margin: 0;
}


.img {
    margin: 5%;
}

.legend {
    font-size: 0.8rem;
    font-style: italic;
    font-family: 'Cabin', sans-serif;
}

body {
    background-image: url(../images/body.jpg);
    overflow-x: hidden;
}

main {
    margin: 0px;
    width: 100%;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
    padding-bottom: 2%;

}

main p {
    font-size: 1.2rem;
}

.xd {
    margin-left: 22%;
    width: 75%;
}

.lien {
    color: #F15920;
}

.xd p,
h2,
h3,
h4,
img {
    margin: 3%;

}

.video {
    width: 100%;
    padding: 5%;
    margin-left: -2%;
    color: white;
    background-color: #F15920;
    box-shadow: #202136 5px 10px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video div {
    max-height: 300px;
    width: 49%;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.header {
    width: 100%;
    height: 25%;
    background-color: #F15920;
    background-size: cover;
    background-position: center;
    padding: 6%;
    margin-right: -15%;
    margin-left: -1.5%;
}

.header h1 {
    width: 75%;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.729);
    padding: 2%;
    text-decoration: underline #FED766 10px;
    border-radius: 25px;
    text-decoration-skip-ink: none;
    text-underline-offset: -1px;
}

.auteur {
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;

}

h1 {
    font-family: 'Poppins', sans-serif;

}

h2 {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Cabin', sans-serif;

}

nav {
    float: left;
    background-color: #85BCFF;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    width: 21%;
    height: 100vh;
    position: fixed;
}


li {
    font-size: 1.25rem;
    padding-top: 15%;
    margin-left: -15%;
    padding-bottom: 10px;

}

li a {
    text-align: center;
    transition: 0.2s;

}

li a p {
    border-top: 3px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff17;
    font-size: 1.4rem;

    transition: 0.2s;
    color: white;
    box-shadow: #003873 0px 10px 0px;



}


li a p:hover {
    background-color: #F15920;
    scale: 1.1;
    transition: 0.2s;
    color: white;


}


ul {
    list-style-type: none;
}

.wrap {
    display: flex;
    flex-direction: column;
    background-color: #FED766;
    box-shadow: #000 0px 5px 5px;
    width: 80%;
    margin: 2%;
}

.wrap h2 {
    text-align: center;
    font-size: 1.5rem;
}

.article {
    text-align: left;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    width: 100%;
    transition: 0.5s;
}

.article:hover {
    background-color: #f1582088;
}

.article h2 {
    font-size: 1.2rem;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-offset: -1px;
}

.article .chapo {
    width: 80%;
    text-align: right;
    font-size: 1.1rem;
    font-style: italic;
    background-color: transparent;
}

.chapo {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 2%;
    border-radius: 20px;
}

.chapo1 {
    font-size: 1.25rem;
    font-weight: bolder;
    padding: 2%;
    border-radius: 20px;
}

.article .auteur {
    margin-top: 10%;
    font-size: 1.25rem;
    font-weight: bolder;
}



.edition {
    border-radius: 25px;
    border: #F15920 5px solid;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    width: 85%;
}

.edition h2 {
    margin-top: -11%;
    width: fit-content;
    padding: 2%;
    background-color: aliceblue;
    font-size: 2rem;
    margin-bottom: 1%;
}

.edition textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    border: #85BCFF 4px solid;
    border-radius: 5px;
    background-color: aliceblue;
    font-family: 'Cabin', sans-serif;
}

.supprimer {
    float: right;
}

.edition img {
    width: 50%;
    border: #85BCFF 4px solid;
    border-radius: 5px;

}

.edition video {
    width: 50%;
    border: #85BCFF 4px solid;
    border-radius: 5px;
}

.edition audio {
    width: 50%;
    border: #85BCFF 4px solid;
    border-radius: 5px;
}

.creation {
    border-radius: 25px;
    border: #F15920 5px solid;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    width: 85%;
}

.creation h2 {
    margin-top: -11%;
    width: fit-content;
    padding: 2%;
    background-color: aliceblue;
    font-size: 2rem;
    margin-bottom: 1%;
}

.creation textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    border: #85BCFF 4px solid;
    border-radius: 5px;
    background-color: aliceblue;
    font-family: 'Cabin', sans-serif;
}


.redaction {
    text-align: right;
    margin-bottom: -2%;
}


body::-webkit-scrollbar-track {
    background-color: aliceblue;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background-color: #FED766;
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
}





.encadrer {
    background-color: #C5E9FC;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 75%;
    padding: 2%;
    border-radius: 25px;
    display: flex;
    box-shadow: #202136 0px 10px 0px;
}

.encadrer hr {
    width: 5%;
    border: #003873;
    border-radius: 50px;
    margin-right: 2%;
    background-color: #003873;
}


div.player {
    background-color: #FED766;
    margin-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 4%;
    box-shadow: #F15920 0px 15px 1px;
    width: 30%;
    margin: auto;
    margin-top: 40px;
}

/*
    Small only
  */
@media screen and (max-width: 39.9375em) {
    div.player img.album-art {
        width: 100%;
        height: auto;
    }
}

.lienp {
    font-weight: bold;
    font-size: 1.3rem;
}

div.meta-container {
    width: calc(100%);
    padding: 10px;
}

div.meta-container div.song-title {
    text-align: center;
    color: #263238;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

div.meta-container div.song-artist {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #263238;
    margin-top: 10px;
}

div.meta-container div.time-container {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

div.meta-container div.time-container:after {
    content: "";
    display: table;
    clear: both;
}

div.meta-container div.time-container div.current-time {
    float: left;
}

div.meta-container div.time-container div.duration {
    float: right;
}

/*
    Small only
  */
@media screen and (max-width: 39.9375em) {
    div.meta-container {
        width: 100%;
    }
}

/*
    Medium only
  */
/*
    Large Only
  */
div.control-container {
    text-align: center;
    margin-top: 40px;
}

div.control-container div.amplitude-prev {
    width: 28px;
    height: 24px;
    cursor: pointer;
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/multiple-songs/previous.svg");
    display: inline-block;
    vertical-align: middle;
}

div.control-container div.amplitude-play-pause {
    width: 40px;
    height: 44px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

div.control-container div.amplitude-play-pause.amplitude-paused {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/multiple-songs/play.svg");
}

div.control-container div.amplitude-play-pause.amplitude-playing {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/multiple-songs/pause.svg");
}

div.control-container div.amplitude-next {
    width: 28px;
    height: 24px;
    cursor: pointer;
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/multiple-songs/next.svg");
    display: inline-block;
    vertical-align: middle;
}

/*
    Small only
  */
@media screen and (max-width: 39.9375em) {
    div.control-container div.amplitude-prev {
        margin-right: 75px;
    }

    div.control-container div.amplitude-next {
        margin-left: 75px;
    }
}

/*
    Medium only
  */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    div.control-container div.amplitude-prev {
        margin-right: 40px;
    }

    div.control-container div.amplitude-next {
        margin-left: 40px;
    }
}

/*
    Large Only
  */
@media screen and (min-width: 64em) {
    div.control-container div.amplitude-prev {
        margin-right: 75px;
    }

    div.control-container div.amplitude-next {
        margin-left: 75px;
    }
}

progress.amplitude-song-played-progress:not([value]) {
    background-color: #313252;
}

progress.amplitude-song-played-progress {
    background-color: #d7dee3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    height: 8px;
    border: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #C5E9FC;
    border-radius: 3px;
}

progress[value]::-moz-progress-bar {
    background-color: #F15920;
    border-radius: 3px;
}

progress[value]::-webkit-progress-value {
    background-color: #F15920;
    border-radius: 3px;
}

.lexique_a_traduire{
    font-weight: bolder;
    color: #F15920;
}

.lexique_a_traduire:hover{
    cursor: pointer;
}

.definition-container {
    display: flex;
    flex-direction: column;
    float: left;
    background-color: #85BCFF;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    width: 21%;
    height: 100vh;
    position: fixed;
    position: relative;
}

.hidden{
    display: none;
}

#definition-button{
    width: 40px;
    height: 40px;
    position: absolute;
    top: -80px;
    right: 30px;
}

.definition-mot{
    margin-bottom: 20px;
    text-decoration: underline;
}

.ah{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 15px;
}

.definition-text{
    color: rgb(0, 0, 0);
    font-weight: normal;
}

.close-container{
    position: relative;
    margin: auto;
    width: 50px;
    height: 50px;
    margin-top: 100px;
    cursor: pointer;
  }

  .leftright{
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }

  .rightleft{
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }

  label{
    color: white;
    font-family: Helvetica, Arial, sans-serif; 
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease-in;
    opacity: 0;
  }
  .close{
    margin-top: 55px;
    position: absolute;
  }

  .close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: rgb(0, 0, 0);
  }
  .close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: rgb(0, 0, 0);
  }
  .close-container:hover label{
    opacity: 1;
  }

.definition-container {
    background-color: #85BCFF;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    width: 21%;
    height: 100vh;
    position: fixed;
}

.definitionp {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.definition-container button {
    color: white;
    margin: 2%;
    font-weight: bolder;
    float: right;
    background-color: transparent;
    border: 5px solid white;
    font-size: 2rem;
    border-radius: 50%;
    width: 70px;
    height: 70px;

}

.definition-container button:hover {
    scale: 1.1;
    transition: 0.1s;
}


.hidden {
    display: none;
}


.image_droite {
    float: right;
    width: 50%;
}

.image_gauche {
    float: left;
    width: 50%;
}

.fullsize {
    margin-left: -5%;
}

.fullsize img {
    width: 105%;
    z-index: 1;
}


.grand_audio {
    margin-bottom: 6% !important;
    background-position: center;

}

.player.grand_audio {
    padding-top: 50%;
    width: 80% !important;
    margin-left: 5% !important;
}

.grand_audio div.meta-container div.song-title {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.104);
}

.grand_audio div.meta-container div.time-container {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

.grand_audio div.meta-container div.song-artist {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.104);
    font-family: 'Poppins', sans-serif;
}



.italic {
    font-style: italic !important;
}

.bold {
    font-weight: bold !important;
}

.wrapmain {
    display: flex;
    justify-content: space-around;

}

.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
    fill: #003873;
}

.tooltip .top {
    visibility: hidden;
    width: 120px;
    background-color: #040505;
    font-size: 13px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 4px 0;
    z-index: 1;
}

.tooltip .top::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #040505 transparent;
}

.tooltip:hover .top {
    visibility: visible;
}


.cls-15:hover {
    fill: red;
}

.cls-14:hover {
    fill: yellow;
}

@media (max-width: 599px) {

    main {
        height: 100vh;
    }

    .nav_base {
        display: none;
    }

    .burger {
        display: block;
    }

    .xd {
        margin-left: 0%;
        width: 100vw;
        margin-top: 15%;
    }

    .wrapmain {
        flex-direction: column;
        align-items: center;
    }

    .header h1 {
        font-size: 1.7rem;
    }
    .video div h2 {
        font-size: 0.84rem;
    }
    .definition-container {
        background-color: #85BCFF;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        width: 100vw;
        height: 100vh;
        position: fixed;
    }
}